{% extends 'base.html.twig' %}

{% block body %}

<br>

{{ form_start(registrationForm) }}
  {{ form_widget(registrationForm)}}
  <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(registrationForm) }}

<style>
    footer{
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>



{% endblock %}