<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="footer-manu">
					<ul>
						<li><a href="#">Mentions Légales</a></li>
						<li><a href="https://www.onisep.fr/ressources/univers-formation/formations/post-bac/bts-services-informatiques-aux-organisations-option-b-solutions-logicielles-et-applications-metiers">
							Pour plus d'informations sur le BTS SIO</a></li>
					</ul>
				</div>
				<p class="copyright mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; Site réalisé par le <a
						href="https://www.lyceefulbert.fr/">Lycée Fulbert</a>. Tous droits réservés.
				</p>
			</div>
		</div>
	</div>
	<script>
        tinymce.init({
          selector: 'textarea'
        });
      </script>
</footer>