<!DOCTYPE html>
<html lang="fr">

<!-- Head -->
{% include 'head.html.twig' %}

<body id="body">

<!-- Header -->
{% include 'header.html.twig' %}


<section class="feature bg-2">
  <div class="container">
    <div class="row justify-content-end">
      <div class="col-md-6">
        <h2 class="section-subtitle">Le blog fait par des étudiants, pour des étudiants</h2>
        <p> N'importe quel étudiant peut écrire un article. Parlez d'informatique, d'études, ou d'autres matière.
            Ouvrez n'importe quel sujet de discussion qui pourret intéresser d'autres membres du BTS SIO.
        </p>
        <p>Vous avez des questions, n'hésitez pas, les autres élèves seront là pour y répondre.
          Demandez de l'aide sur un de vos projets, ou répondez aux demandes d'autres élèves.
        </p>
        <p>Partagez vos entreprises, débattez sur votre poursuite d'études ou critiquez votre établissement.
          Ce blog est aussi fait pour ceux qui recherche un BTS SIO ou qui l'ont finit.
        </p>
        <a href="{{ path('app_article_index') }}" class="btn btn-view-works">Voir les articles</a>
      </div>
    </div>
  </div>
</section>



<!-- Service Start -->
<section class="service">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="section-title">
          <h2>Ce que nous proposons</h2>
          <p>Des articles à dispositions de tous les étudiants en BTS SIO. <br>
            Vous pouvez écrire des articles et laisser des commentaires ou des notes sur ceux que d'autres ont rédigé.  </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Soyez connectés</h4>
          <p>Partagez et discutez avec tous les étudiants en SIO de France sans distinctions </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-network"></i>
          <h4>Créez votre réseau</h4>
          <p>Créez vous un réseau facilement avec des étudiants ou des anciens étudiants partout en France. </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>Cybersécurité</h4>
          <p>Aidez d'autres élèves à corrigez leurs failles de sécurités ou montrez les votres pour que quelqu'un puisse la résoudre  </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="service-item">
          <i class="ion-clipboard"></i>
          <h4>Entreprises</h4>
          <p>Partagez vos entreprises pour aider d'autres étudiants à trouver un stage ou une alternance </p>
        </div>
      </div>
</section>
<!-- Call to action Start -->

<section class="call-to-action bg-1 section-sm overly">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="block">
					<h2 class="mb-3">C'est à vous de faire fonctionner le blog</h2>
					<p>Parlez, partagez, conseillez, critiquez, tout est autorisé tant que c'est en rapport avec le BTS</p>
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
					  <a class="btn btn-main btn-solid-border" href="{{path('app_article_new')}}">Commencez à écrire</a>
          {% else %}
            <a class="btn btn-main btn-solid-border" href="{{path('app_login')}}">Connectez vous pour commencer à écrire</a>
          {% endif %}
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Content Start -->
<section class="testimonial">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="testimonial-carousel text-center">
          <div class="testimonial-slider owl-carousel">
            {{ render(controller(
              'App\\Controller\\ArticleController::recentArticles', {max: 3}
            )) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- footer Start -->
{% include 'footer.html.twig' %}

<!--Scroll to top-->
<div id="scroll-to-top" class="scroll-to-top">
	<span class="icon ion-ios-arrow-up"></span>
</div>

    <!-- 
    Essential Scripts
    =====================================-->


    <!-- Main jQuery -->
    <script src="plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 3.1 -->
    <script src="plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick Carousel -->
    <script src="plugins/slick/slick.min.js"></script>
    <script src="plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- filter -->
    <script src="plugins/shuffle/shuffle.min.js"></script>
    <script src="plugins/SyoTimer/jquery.syotimer.min.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
    <script src="plugins/google-map/map.js"></script>

    <script src="js/script.js"></script>

    </body>

    </html>
   
