{% extends 'base.html.twig' %}

{% block body %}

    <section class="slider">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="block">
                <h1 class="animated fadeInUp"> Blog BTS SIO</h1>
                <p class="animated fadeInUp">Retrouvez tous les articles du blog triés par catégories</p>
            </div>
            </div>
        </div>
        </div>
    </section>


    <div class="page-wrapper">
        <div class="container">
            <h1 class="haut-page">Toutes nos catégories</h1>
            <br>
            <div class="card" style="width: 22rem;">
                <div class="card-header">
                    Choisissez parmi :
                </div>
                <ul class="list-group list-group-flush" style="text-align:center">
                    {% for categorie in categories %}
                        <li class="list-group-item"><a href="{{path('app_article_categorie', {'slug': categorie.slug})}}" style="color:#222222" hover:"font-size:26px">{{categorie.libelle}}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <!------
            <div class="row">
            {% for categorie in categories %}
                <div class="col-md-6">
                    <div class="post">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h3 class="post-title">{{categorie.libelle}}</h3>
                                <a href="{{path('app_article_categorie', {'slug': categorie.slug})}}" class="btn btn-primary">Voir les articles</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                    <p>Aucune catégorie trouvée</p>
            {% endfor %}
            </div>
            ---->
        </div>
    </div>



{% endblock %}

