{% extends 'base.html.twig' %}

{% block body %}

    <section class="slider">
        <div class="container">
        <div class="row">
            <div class="col-md-12">
            <div class="block">
                <h1 class="animated fadeInUp"> Blog BTS SIO</h1>
                <p class="animated fadeInUp">Retrouvez tous les articles du blog triés par catégories</p>
            </div>
            </div>
        </div>
        </div>
    </section>


    <div class="page-wrapper">
        <div class="container">
            <h1 class="haut-page">Toutes nos catégories</h1>
            <br>
            <div class="card" style="width: 22rem;">
                <div class="card-header" style="color:#fff; text-decoration: underline;">
                    Choisissez parmi :
                </div>
                <ul class="list-group list-group-flush" >
                    {% for categorie in categories %}
                        <li class="list-group-item"><a href="{{path('app_article_categorie', {'slug': categorie.slug})}}" id="lien_categ">{{categorie.libelle}}</a></li>
                    {% else %}
                        <p>Aucune catégorie trouvée</p>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>



{% endblock %}

