
{% extends 'base.html.twig' %}


{% block body %}
    <h1>Écrivez un nouvel article</h1>

    
    {{ include('article/_form.html.twig') }}
    
    <a href="{{ path('app_article_index') }}">back to list</a>
    
{% endblock %}
